<div class="container">
  <div class="row">
    <%= attachment_image_tag @user, :image_id_change, format: 'jpeg', fallback: "no_image.jpg", style: "height: 200px"%>
    <p>ユーザーネーム  <%= @user.name %></p>
    <p>性別  <%= @user.sex %></p>
    <% if @user.id == current_user.id %>
    <p><%= link_to "編集する", edit_user_path(@user) %></p>
    <% end %>
  </div>
</div>
