<div class="row">
  <div class="col-xs-12">
    <h2><strong>本当に退会しますか？</strong></h2>
    <%= link_to "退会しない", user_path(current_user), class: "glyphicon glyphicon-home btn btn-primary" %>
    <%= link_to "退会する", withdraw_users_path, method: :PATCH, data: {confirm: "本当に退会してもよろしいですか？"}, class: "glyphicon glyphicon-tint btn btn-danger" %>
  </div>
</div>