<div class="about-content">
  <div class="about-box">
    <h1 class="about-headline">Your perfumeとは</h1>
    <p class="about-text">香水のレビューサイトです。<br>
    感想を投稿したり、みんなのレビューを参考に<br>
    あなたにピッタリの香水を探してみよう！
    </p>
  </div>
</div>

