  <body>
    <div class="main-visual">
      <div class="main-visual-content">
        <h1 class="main-visual-text">
          Your perfume
        </h1>
        <p class="main-visual-name">
          香水ファンが集まる香水レビューサイト
        </p>
      </div>
    </div>
  </body>
